:host {
  display: block;
  position: relative;
  .drop-down-list-container {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    z-index: 10;
    .list-md.list-inset {
      -webkit-margin-start: 0px;
      margin-inline-start: 0px;
      -webkit-margin-end: 0px;
      margin-inline-end: 0px;
      margin-top: 0px;
      margin-bottom: 0px;
      border-radius: 2px;
    }
  }
}
