:host {
  position: fixed;
  right: 10px;
  top: 10px;
  padding: 5px;
  display: inline-block;
  border: 1px solid #3f3f3f;
  z-index: 1;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}
